<div class="row" dir="rtl">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t('featured-pathways.header') %>
      <small><%= t('featured-pathways.small') %></small>
    </h1>
  </div>
</div>

<div class="row" dir="rtl">
  <div class="col-md-4">
    <a href="/ar/pages/marketing"><img class="img-responsive" src="https://s3.eu-central-1.amazonaws.com/images-agile-academy/images/homepage/paths/marketing.jpg" alt=""></a>
  </div>
  <div class="col-md-8">
    <h3><%= link_to t('featured-pathways.marketing'), pages_marketing_path %></h3>
    <h4>Pathway</h4>
    <p><%= t('featured-pathways.marketing-intro') %></p>
    <a class="btn btn-primary" href="/ar/pages/marketing"><%= t('cta.explore-more') %></a>
  </div>
</div>

<hr>

<div class="row" dir="rtl">
  <div class="col-md-4">
    <a href="/ar/pages/design"><img class="img-responsive" src="https://s3.eu-central-1.amazonaws.com/images-agile-academy/images/homepage/paths/graphic-design.jpg" alt=""></a>
  </div>
  <div class="col-md-8">
    <h3><%= link_to t('featured-pathways.design'), pages_design_path %></h3>
    <h4>Pathway</h4>
    <p><%= t('featured-pathways.design-intro') %></p>
    <a class="btn btn-primary" href="/ar/pages/design"><%= t('cta.explore-more') %></a>
  </div>
</div>

<hr>

<div class="row" dir="rtl">
  <div class="col-md-4">
    <a href="/ar/pages/it"><img class="img-responsive" src="https://s3.eu-central-1.amazonaws.com/images-agile-academy/images/homepage/paths/technology.jpg" alt=""></a>
  </div>
  <div class="col-md-8">
    <h3><%= link_to t('featured-pathways.it'), pages_it_path %></h3>
    <h4>Pathway</h4>
    <p><%= t('featured-pathways.it-intro') %></p>
    <a class="btn btn-primary" href="/ar/pages/it"><%= t('cta.explore-more') %></a>
  </div>
</div>

<hr>

<div class="row" dir="rtl">
  <div class="col-md-4">
    <a href="/ar/pages/lang"><img class="img-responsive" src="https://s3.eu-central-1.amazonaws.com/images-agile-academy/images/homepage/paths/language.jpg" alt=""></a>
  </div>
  <div class="col-md-8">
    <h3><%= link_to t('featured-pathways.lang'), pages_lang_path %></h3>
    <h4>Pathway</h4>
    <p><%= t('featured-pathways.lang-intro') %></p>
    <a class="btn btn-primary" href="/ar/pages/lang"><%= t('cta.explore-more') %></a>
  </div>
</div>

<hr>