<!DOCTYPE html>
<html lang="en">
  <%= render 'shared/header' %>    
    <body>
      <%= render 'shared/nav' %>
      <%= render 'shared/carusel.ar' %>
      <div class="container">
        <div align="center"><%= bootstrap_flash %></div>
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>    
    </body>
</html>
